@tailwind base;
@tailwind components;
@tailwind utilities;


html{

  overflow-x: hidden;

}
.divOne{
  scroll-snap-align: start;

}
.loaded {
  background-image: linear-gradient(to bottom, transparent 40%, black),
                    linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1));
}

.shadowCard{
  -webkit-box-shadow: 10px 10px 98px -9px rgba(127,68,248,1);
  -moz-box-shadow: 10px 10px 98px -9px rgba(127,68,248,1);
  box-shadow: 5px 5px 70px -9px rgba(127,68,248,1);
}